# Directories #
/build/
/bin/
target/
/devel/
 
# OS Files #
.DS_Store
  
*.class

*.pyc

.idea/

__pycache__/

# Package Files #
*.jar
*.war
*.ear
*.db
      
# Eclipse #
.project
.metadata
.classpath
.settings/
.loadpath

# Vscode #
.vscode/
 
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
local.properties
/src/main/resources/rebel.xml
